@{
    ViewData["Title"] = "Sandálias";
    Layout = null;
}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sandálias</title>
    <link rel="stylesheet" href="~/css/Descricao.css" />
</head>
<body>
    <header>
        <a asp-controller="Home" asp-action="Index"><img class="Logo" src="~/images/Logo.png"></a>
        <input class="SearchBar" type="text" placeholder="Busque por informações aqui">
        <ul>
            <li><a href="">Trilhas</a></li>
            <li><a href="">Praias</a></li>
            <li><a href="">Espécies</a></li>
        </ul>
    </header>
    <div class="content">
        <h1 class="Titulo">Praia de Maresias - São Sebastião <span class="stars">★★★</span></h1>
        <div class="description">
            <p>
                A Praia de Maresias, localizada no município de São Sebastião, no litoral norte do estado de São Paulo, é um dos destinos mais populares e encantadores da região. Com uma extensão de aproximadamente 5 quilômetros, a praia é conhecida por suas areias claras e finas, águas cristalinas e vegetação exuberante que circunda a área. Maresias é famosa tanto por sua beleza natural quanto por sua vibrante vida noturna, atraindo turistas de todas as idades e perfis. A orla de Maresias é dividida em diferentes setores, cada um oferecendo uma experiência única. O lado esquerdo da praia é mais tranquilo e familiar, perfeito para aqueles que buscam relaxar e desfrutar do som das ondas. Já o lado direito, conhecido como "Canto do Moreira", é um local favorito dos surfistas devido às suas ondas fortes e constantes, ideais para a prática do surfe. Maresias também é palco de competições de surfe nacionais e internacionais, destacando-se como um importante ponto no circuito de surfe brasileiro. Maresias possui uma excelente infraestrutura turística, com uma ampla gama de opções de hospedagem que vão desde campings e pousadas acolhedoras até hotéis de luxo.
            </p>
            <div class="slideshow-container">
                <div class="slideshow">
                    <img src="~/images/Maresias/Maresias1.png" alt="Vista da Praia de Maresias">
                    <img src="~/images/Maresias/Maresias2.png" alt="Praia de Maresias">
                    <img src="~/images/Maresias/Maresias3.png" alt="Praia de Maresias ao entardecer">
                    <img src="~/images/Maresias/Maresias1.png" alt="Vista da Praia de Maresias">
                    <img src="~/images/Maresias/Maresias3.png" alt="Praia de Maresias">
                    <img src="~/images/Maresias/Maresias3.png" alt="Praia de Maresias ao entardecer">
                    <img src="~/images/Maresias/Maresias3.png" alt="Vista da Praia de Maresias">
                    <img src="~/images/Maresias/Maresias2.png" alt="Praia de Maresias">
                    <img src="~/images/Maresias/Maresias2.png" alt="Praia de Maresias ao entardecer">
                    <img src="~/images/Maresias/Maresias1.png" alt="Vista da Praia de Maresias">
                    <img src="~/images/Maresias/Maresias2.png" alt="Praia de Maresias">
                    <img src="~/images/Maresias/Maresias1.png" alt="Praia de Maresias ao entardecer">
                </div>
                <!-- Adicione mais imagens conforme necessário -->
            </div>
            <div class="nav-container">
                <div class="nav-arrows">
                    <div class="arrow up-arrow"><img src="~/images/Icons/SetaCima.png" alt="Seta pra cima" /></div>
                    <div class="arrow down-arrow"><img src="~/images/Icons/SetaBaixo.png" alt="Seta pra Baixo" /></div>
                </div>
                <div class="dots-container">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
            </div>
        </div>
        <h2 class="subtitulo">Mapa da Praia - Clique para ampliar</h2>
        <div class="mapa">
            <img src="~/images/Maresias/Mapa.png" alt="Mapa da Praia de Maresias">
        </div>
        <div class="animal">
            <h2 class="subtitulo">Animais Encontrados</h2>
            <p class="animais">
                A Praia de Maresias, localizada em São Sebastião, abriga uma rica diversidade de espécies de aves e peixes. Entre as aves mais comuns encontradas na região estão a gaivota, o atobá e o trinta-réis. Essas aves são frequentemente vistas sobrevoando a praia, caçando peixes e interagindo com o ambiente costeiro.

                Em relação aos peixes, a praia é habitada por espécies como o robalo, o baiacu e o parati. Esses peixes são encontrados nas águas costeiras de Maresias, contribuindo para a biodiversidade marinha da região. A presença dessas espécies torna a praia um ponto de interesse tanto para observadores da vida selvagem quanto para pescadores esportivos.
            </p>
        </div>
    </div>
    <footer>
        Copyright © 2024 - Todos os Direitos Reservados
    </footer>
    <script src="~/js/Descricao.js"></script>
</body>
</html>

